{% extends 'base.html.twig' %}

{% block body %}
   
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
{% endblock %}

{% block stylesheets %}
    <style>
        table, tr, td{
            border: 1px solid black;
        }
    </style>
{% endblock %}
