{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <td><strong>Tekst</strong></td>
            <td><strong>Data</strong></td>
            <td>Edit</td>
            <td>Delete</td>



        </tr>
    {% for item in tasks %}
        <tr>
            <td>{{ item.text }}</td>
            <td>{{ item.date|date('Y-m-d H:i:s') }}</td>
            <td><a href="{{ path('edit', {'id': item.id}) }}">Edit</a></td>
            <td><a href="{{ path('delete', {'id': item.id}) }}">Delete</a></td>


        </tr>
    {% endfor %}
    
        
    </table>
<br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
    {% if added %}
        <p>New task created</p>
    {% endif %}

    {% if deleted %}
        <p>Task deleted</p>
    {% endif %}

    {% if edited %}
        <p>Task edited</p>
    {% endif %}
{% endblock %}

{% block stylesheets %}
<style>
    table, tr, td{
        border: 1px solid black;
    }
</style>
{% endblock %}
